
@import url('https://fonts.googleapis.com/css2?family=Hanuman:wght@700&family=Inria+Sans&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Viga&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Londrina+Sketch&display=swap');

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&family=Viga&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Teko&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Teko&display=swap');



/* .App {
  text-align: center;
} */

*{
  margin : 0;
  padding: 0;
}

body{
  background-color: #1e1d21;
  
  /* border-color: ; */
}

#link{
  color: grey;
}

#link:hover {
  color :#0077b5;
}

#git{
  color: grey;
}

#git:hover {
  color : black;
}

#inst{
  color: grey;
}

#inst:hover {
  color : rgb(187, 76, 144);
  
}

/* tr:hover {
  background-color:yellow;
   transition: 0.5s;
  width: 20px;
} */
/* tr:hover td { 
  color: black; 
} */
/* td:hover {
  background-color: yellow;
  height: 10%;
} */

tr{

  padding-bottom:10;
  /* padding-bottom:2; */
  font-family : "'DM Sans', sans-serif";
}

/* tr:hover {
  background-color: #4287f5;
 } */

/* table {
  border-collapse: separate;
  border-spacing: 0 1em;
} */


table {
  border-collapse: separate;
  border-spacing: 0 15px;
  padding: 5px;
  /* text-align: center; */
}

/* td {
  padding: 8px 5px;
 } */

  
 td {
   /* width: 150px; */
   /* text-align: center; */
   border: 1px solid black;
   padding: 5px;
   /* font-size: 20px; */
 }

 td{
  background-color  :#242327;
  color:grey;
  font-weight : bold;
  border-radius: 4;
  text-align: center ;
  width: 10%;
  height: 8%;
 }


